{% extends 'tienda/base.html' %}
{% load static %}
{% block title %}{{ categoria_nombre }} | BLACK PANTHER{% endblock %}

{% block content %}
<main class="main-content">
  <h2>{{ categoria_nombre }}</h2>
  <div class="auction-list">
    {% for subasta in subastas %}
      <div class="auction-item">
        <img src="{{ subasta.producto.imagen.url }}" alt="{{ subasta.producto.nombre }}">
        <div class="auction-details">
          <h3>{{ subasta.producto.nombre }}</h3>
          <p class="description">{{ subasta.producto.descripcion|truncatewords:20 }}</p>
          <a href="{% url 'tienda:detalle_subasta' subasta.slug %}" class="btn">Ver Detalles</a>
        </div>
      </div>
    {% empty %}
      <p class="text-center">No hay subastas activas disponibles en esta categoría.</p>
    {% endfor %}
  </div>
</main>
{% endblock %}
