{% extends 'tienda/base.html' %}
{% load static %}

{% block title %}Subastas Activas - BLACK PANTHER{% endblock %}

{% block content %}
<h1>Subastas Activas</h1>

<div class="auction-list">
  {% for subasta in subastas_activas %}
  <div class="auction-item">
    {% if subasta.producto.imagen %}
      <img src="{{ subasta.producto.imagen.url }}" alt="{{ subasta.producto.nombre }}">
    {% else %}
      <img src="{% static 'img/subastas/anonimo.png' %}" alt="Sin Imagen">
    {% endif %}
    
    <div class="auction-details">
      <h3>{{ subasta.producto.nombre }}</h3>
      <p>{{ subasta.producto.descripcion|default:"Sin descripción" }}</p>
      <p>Precio actual: ${{ subasta.precio_actual }}</p>
      <p>Fecha finalización: {{ subasta.fecha_finalizacion|date:"d/m/Y H:i" }}</p>
      <a href="{% url 'tienda:detalle_subasta' subasta.slug %}" class="btn">Ver Detalles</a>
    </div>
  </div>
  {% empty %}
    <p>No hay subastas activas por el momento.</p>
  {% endfor %}
</div>
{% endblock %}
